<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Noticia</title>
    <link rel="stylesheet" href="../../static/css/main_page_styles.css">
    <link rel="stylesheet" href="../../static/css/publish_styles.css">
    <link rel="icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img id="logo-img" src="../static/img/assets/logo.png" alt="DemocraticNews Logo">
            </a>
        </div>
        
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('top') }}" onClick="updateTopNews();">Top</a>
                    <select>
                        <option value="daily">Diario</option>
                        <option value="weekly">Semanal</option>
                        <option value="monthly">Mensual</option>
                    </select>
                </li>
                <li><a href="{{ url_for('tabla') }}">Noticias</a></li>
                <li><a href="{{ url_for('publish') }}">Publique su noticia</a></li>
                <li><a href="{{ url_for('about') }}">Sobre Nosotros</a></li>
            </ul>
        </nav>
    </header>
    
    <main>

        <div id="news-form">
            <div type="hidden" id="noticia-id" style="display: none;">{{ noticia.id }}</div>
            <input hidden type="text" value={{noticia.id}} name="txtId" id="txtId">
        
            <form >
                <h2 class="form-title">Editar Noticia</h2>
                <section id="form-container">
                    <h3 class="form-title">Datos Personales</h3>
                    <div class="form-group">
                        <label class="form-label" for="nombre">Nombre:</label>
                        <input class="form-input" type="text" id="nombre" name="nombre" required maxlength="50" value="{{noticia.nombre}}" placeholder="Ingrese su nombre">
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="form-label" for="apellido">Apellido:</label>
                        <input class="form-input" type="text" id="apellido" name="apellido" required maxlength="50" value="{{noticia.apellido}}" placeholder="Ingrese su apellido">
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="form-label" for="email">Correo electrónico:</label>
                        <input class="form-input" type="email" id="email" name="email" required value="{{ noticia.correo }}" placeholder="nombre@example.com">
                    </div>
                    <br>
                    <div class="form-input" id="gender-radio">
                        <label class="radio-label">Masculino</label><input class="radio-input" type="radio"
                            name="gender" value="masculino" required {% if noticia.gender == 'masculino' %}checked{% endif %}>
                        <label class="radio-label">Femenino</label><input class="radio-input" type="radio"
                            name="gender" value="femenino" required {% if noticia.gender == 'femenino' %}checked{% endif %}>
                        <label class="radio-label">Otro</label><input class="radio-input" type="radio" name="gender"
                            value="otro" required {% if noticia.gender == 'otro' %}checked{% endif %}>
                    </div>
                </section>

                <section>
                    <h3 class="form-title">¿Cuál es su noticia?</h3>
                        <div class="form-group">
                            <label class="form-label" for="titular">Títular:</label>
                            <input class="form-input" type="text" id="titular" name="titular" required maxlength="100"  value="{{noticia.titulo}}"
                                placeholder="Ingrese el titulo">
                        </div>

                        <br>

                        <div class="form-group">
                            <label class="form-label" for="subtitulo">Subtítulo:</label>
                            <input class="form-input" type="text" id="subtitulo" name="subtitulo" maxlength="150" value="{{noticia.subtitulo}}"
                                placeholder="Ingrese el subtitulo">
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="form-label" for="tipo">Tipo: </label>
                            <select class="form-input" id="tipo" name="tipo" required>
                                <option value="" disabled {% if not noticia.tipo %}selected{% endif %}>Seleccione</option>
                                <option value="noticia" {% if noticia.tipo == 'noticia' %}selected{% endif %}>Noticia</option>
                                <option value="opinion" {% if noticia.tipo == 'opinion' %}selected{% endif %}>Opinión</option>
                                <option value="reporte" {% if noticia.tipo == 'reporte' %}selected{% endif %}>Reporte</option>
                                <option value="politica" {% if noticia.tipo == 'politica' %}selected{% endif %}>Politica</option>
                                <option value="policial" {% if noticia.tipo == 'policial' %}selected{% endif %}>Policial</option>
                                <option value="espectaculo" {% if noticia.tipo == 'espectaculo' %}selected{% endif %}>Espectaculo</option>
                                <option value="viaje" {% if noticia.tipo == 'viaje' %}selected{% endif %}>Viaje</option>
                                <option value="fenomenoclimatico" {% if noticia.tipo == 'fenomenoclimatico' %}selected{% endif %}>Fenómeno climático</option>
                            </select>
                            
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="form-label" for="imagen">Imagen:</label>
                            <input class="form-input" type="text" id="imagen" name="imagen" value="{{ noticia.imagen }}" accept="image/*">
                            <img src="{{ noticia.imagen }}" alt="Foto" width="150" height="150">
                        </div>
                        <br>
                        <div class="form-group">
                            <label class="form-label" for="descripcion">Descripción de la Noticia:</label>
                            <textarea class="form-input" id="descripcion" name="descripcion" cols="100" rows="15"
                                maxlength="1500" required>{{ noticia.descripcion }}</textarea>
                        </div>

                </section>


                <div class="buttons">
                    <button type="reset" class="reset-btn">Limpiar formulario</button>
                    <input type="Submit" class="submit-btn" value = "Agregar nueva Noticia">
                  <!-- <button type="submit" class="submit-btn">Enviar formulario</button>-->  
                </div>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 DemocraticNews. Todos los derechos reservados.</p>
    </footer>

    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/edit.js"></script>
</body>

</html>